@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body{
    background-color: #F3F3F3;
}

.container input{
    height: 54px;
    border: 1px solid #ADAABF;
    color: #ADAABF;
}
/*Mobile view*/
@media screen and (max-width:400px) {
    
}
.container{
    display: flex;
    flex-direction: column;
    padding: 110px 40px ;
    
}

.container img{
    height: 20px;
    width: 17px;
    
}

.container h3{
    margin-top: 20px;
    font-size: 24px;
}
.container p{
    margin-top: 13px;
}
.container p label{
    font-size: 18px;
}




.element{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    color: #322B5F;
}

.element input {
    margin-top: 8px;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-top: 24px;
    color: #322B5F;
}
.checkbox p{
    font-size: 14px;
    padding-left: 16px;
    padding-bottom: 14px;
}
input.size{
    width: 24px;
    height: 24px;
}

.container button{
    margin-top: 24px;
    height: 64px;
    width: 100%;
    border-radius: 8px;
    background-color: #4D0099;
    color: white;
    font-size: 18px;
}

/*tablet view*/
@media screen and (min-width: 768px) {
    .element_wrap{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap:16px ;
        

    }

    .container{
        padding: 90px 120px;
    }
  
}

/*

.parent {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}