@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


.container{
    display: flex;
    flex-direction: column;
    padding: 80px 40px 80px  40px;
    
}

.container img{
    height: 20px;
    width: 17px;
    
}

.container h3{
    margin-top: 20px;
    font-size: 24px;
}
.container p{
    margin-top: 13px;
}
.container p label{
    font-size: 18px;
}

.container input{
    height: 54px;
}

.container label input{
    
}
.element{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    color: #322B5F;
}

.element input {
    margin-top: 8px;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-top: 24px;
    color: #322B5F;
}
.checkbox p{
    font-size: 14px;
    padding-left: 16px;
    padding-bottom: 14px;
}
input.size{
    width: 24px;
    height: 24px;
}

.container button{
    margin-top: 24px;
    height: 64px;
    width: 100%;
    border-radius: 8px;
    background-color: #4D0099;
    color: white;
    font-size: 18px;
}